

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}


body {
  margin: 0;
  padding: 0;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  
}

.logoImage{
  width: 80px;
}

.nav-link{
  font-size: large;
  font-weight: 600;
}

.nav-link:hover{
  color: rgb(86, 20, 147);
  font-weight: 650;
  bottom: 10px;
  
}

.line{
  border-bottom: 4px solid rgb(74, 36, 128);
  width: 100%;
}

.coursesCoverImg{
  width: 100%;
  margin: 0;
}

.course-header{
  font-family: "Oswald", sans-serif;
  font-size:40px;
  padding: 10px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;

}



.card{
  max-width:600px;
  max-height:400px;
  overflow:hidden;
  min-height: 310px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;;
}

.card img{
  max-height: 160px;
}

